
@model IEnumerable<DNA_CAPI_MIS.Models.ApplicationUser>

@{
    ViewBag.Title = "Dealers";
}

<h2>Dealers</h2>

<p>
    @Html.ActionLink("Create New", "CreateDealerUser")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.UserName)
        </th>
       
        <th>

        </th>
    </tr>

    
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.UserName)
            </td>
     
            <td>
                @Html.ActionLink("Edit", "EditDealerUser", new { id = item.Id }) |
                @Html.ActionLink("Details", "DetailsDealerUser", new { id = item.Id }) |
                @Html.ActionLink("Delete", "DeleteDealerUser", new { id = item.Id })
            </td>
        </tr>
     
    }

</table>
