@model IEnumerable<DNA_CAPI_MIS.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.ActionLink("Edit", "ProjectOverview", "Designer", new { id=item.ID }, null) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID }) |
            @Html.ActionLink("Permissions", "Permissions", new { id = item.ID }) |
            @Html.ActionLink("Quota", "Index", "ProjectQuota", new { id = item.ID }, null) |
            @Html.ActionLink("Survey Results", "Index", "Survey", new { id = item.ID }, null) |
            @Html.ActionLink("Approval", "SurveyApprovalFilter", "Survey", new { id = item.ID }, null) |
            @Html.ActionLink("Quality Check", "SurveyQCFilter", "Survey", new { id = item.ID }, null) |
            @Html.ActionLink("Reports", "Reports", "Survey", new { id = item.ID }, null)
        </td>
    </tr>
}

</table>
